
body {
    background-color: #EFF0F5;
}

/*SECCION 1: Acerca de nosotros*/
.contenedor {
    background-color: #2D4B73;
    border-radius: 20px;
    margin: 40px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    justify-items: auto;
    position: relative;
    flex-wrap: wrap;  /*Cambio permitir el ajuste de línea */   
}

/*Estilos para el h1 */
.contenedor--h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    width: 95%;
}

/*Estilos para el parrafo */
.contenedor--p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 300;
    margin-top: 15px;
    width: 95%;
}

/*Estilos para el botón*/
.contenedor--boton--empezar {
    background-color: #D9B70D;
    color: #2D4B73;
    cursor: pointer;
    width: 300px;
    padding: 7px;
    border: solid 2px #2D4B73;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.5s;
}

.contenedor--boton--empezar:hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border: solid 2px #D9B70D;
}

/*Estilos para la imagen de LIKE*/
.img--like {
    width: 100%;
    height: auto;
}

.contenedor--img {
    width: 30%;
    max-width: 350px;
    position: absolute;
    top: 150px;
    left: 0px;
    z-index: 2;
    padding: 0;
}


/*SECCION 2: Por que usas Konikapp*/

/*Estilos para el contenedor 2*/
.contenedor2 {
    background-color: #99B4BF;
    padding: 20px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Cambio: distribuir espacio entre elementos */
    height: 350px;
}

/*Estilos para el h1 del contenedor 2*/
.contenedor2--h1 {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    color: #2D4B73;
    text-align: center;
    align-items: center;
    margin-top: 40px;
    margin-left:35px;
    width: fit-content;
}

/*Estilos para el párrafo del contenedor 2*/
.contenedor2--contenido {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-items:center;
}
.contenedor2--contenido p {
    font-family: 'DM-Sans', sans-serif;
    font-size: 18px;
    text-align: center;
    color: #2D4B73;
    margin-right: 20px;
    max-width: 650px;
    font-weight: 300;
}

/*Estilos para la imagen de la computadora*/
 .contenedor2--imagen{
     flex-wrap: wrap;
     position: absolute;
     margin-left: 1000px;
     margin-top: -230px;
}

/*SECCION 3: Mision, Vision y Valores */
/*Estilos del contenedor 3*/
.contenedor3 {
    display: flex;
    justify-content: space-around;
    margin:20px; 
}

/*Estilos para las cards del contenedor 3 (parrafos y lista)*/
.contenedor3--card-k {
    background-color: #99B4BF;
    color: #2D4B73;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 90%;
}
.contenedor3--card-k p{
    font-size: 18px;
    font-family: 'DM-Sans', sans-serif;
}
.contenedor3--card-k ul{
    list-style-type: none;
    padding-left: 0;
    font-size: 18px;
    font-family: 'DM-Sans', sans-serif;
}


/* SECCION 4: CARRUSEL ESTILOS */
.card-fondo{
    margin-left: 40px;
    margin-right: 40px;
}
.card-body {
    display: flex;
    flex-direction: column;
    background-color: #99B4BF;
}

.card-body H5 {
    color: #2D4B73;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.imagen-carrusel img {
    max-width: 100%;
    max-height: 100%;
}

.card-title {
    font-family: sans-serif;
    text-align: center;

}
.card-titulo{
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
}

.card-text {
    color: #2D4B73;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    font-size: 14px;
}
.contenedor-boton{
    display: flex;
    justify-content: space-between; 
    gap: 10px;
    /*margin:20px; */ 
    /* mejor asi ya que esta responsivo ): con nosotros en un div dentro de otro div con colum y luego afectar  */

} /* vayanse a comer xd*/
.button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #D9B70D;
    border: #2D4B73 solid 2px;
    color: #2D4B73 !important;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
    margin-left: 1px;
}

.button:hover {
    border: #D9B70D solid 2px;
    background-color: #2D4B73;
    color: #D9B70D !important;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}
@media screen and (max-width: 955px){
    .contenedor-boton{
        display: flex;
        flex-direction: column;
    }
}
/*Media para contenedor Seccion 1*/
@media screen and (max-width: 600px) {
    .contenedor {
        min-height: 400px;
    }
   
    .contenedor2--h1{
        margin: 0;
        margin-top: 25px;
    }
    .contenedor--boton--empezar{
        width: 250px;
    }
}

@media screen and (max-width: 400px) {
    .contenedor{
        height: max-content;
        width: min-content;
    }

    .contenedor2{
        width: 290px;
    }
}

/*Media para las imágenes*/
@media screen and (max-width: 1400px) {
    .contenedor--img {
        visibility: hidden;
    }
    .contenedor2--imagen {
        visibility: hidden;
    }
}

/*Media para la imagen search Seccion 2*/
@media screen and (max-width:585px) {
.contenedor2{
    height: max-content;
    }
}

@media screen and (max-width:800px) {
    .contenerdor2--contenido{
        display: flex;
        flex-direction: column;
    }
}

/*Media para mision vision Seccion 3*/
@media screen and (max-width:900px){
    .contenedor3 {
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }

/*Media para el carrusel Seccion 4*/
@media screen and (min-width:660px) {
  .card-fondo {
        display: flex;
        background-color: #2D4B73;
        
        padding: 15px;
        justify-content: space-around;
        border-radius: 20px;
    }
    .card {
        margin:5px;
        width: 300px;
        height: 345px;
    }
    .imagen-carrusel {
        margin: auto;
        background-color: #99B4BF;
    }
    .imagen-carrusel-img {
        max-width: 100%;
        height: 200px;  
    }     
}

