/*Creacion de pagina styles Acerca de nosotros.*/
/*Colores a usar 
background: #EFF0F5
azul fuerte: #2D4B73
azul claro: #99B4BF
oro: #D9B70D
blanco: #FFFFFF
Documentacion: https://www.w3schools.com

Breakpoint debajo de los 500px
Usar porcentajes 
*//* Comentario */
.contenedor--general{
    margin-top: -75px;
    margin-bottom: 250px;

}
bodyñ{
    background-color: #ffffff !important;
}
h1{
    color: #2D4B73 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

span{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

h2{
    color: #2D4B73 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

p{
    font-family: 'DM-Sans', sans-serif;
    font-weight: 300;
    color:  #ffffff;
}

.my-2{
    font-family: 'DM-Sans', sans-serif;
    font-weight: 300;
    color:  #2D4B73
    
}

.accordion-body{
    background-color: #99B4BF;
    border-radius: 20px !important;

}

.accordion-button{
    background-color:#D9B70D !important;
    color: #2D4B73 !important;
    border-radius: 20px !important;
    margin: #D9B70D solid 5px;
}
button:visited{
    background-color:#2D4B73 !important;
    color: #D9B70D !important;
}

.accordion-button:hover{
    background-color:#2D4B73 !important;
    color: #D9B70D !important;
}


    @media (max-width:1400px) {
    
        .contenedor--general{

            margin-bottom: 450px;
        
        }

    }

    @media (max-width:750px) {
    
        .contenedor--general{

            margin-bottom: 600px;
        
        }

    }

    @media (max-width:400px) {
    
        .contenedor--general{
            margin-top: -125px;
            margin-bottom: 650px;
        
        }

    }