/*Colores a usar 
background: #EFF0F5
azul fuerte: #2D4B73
azul claro: #99B4BF
oro: #D9B70D
blanco: #FFFFFF 

fuente - "DM Sans", sans-serif;
fuente - 
*/


.post1 {
    background-color: red;
    
}

.userimg{
    width: 20px;
    height: 20px;
}

#button--card {
    background-color: #D9B70D;
    border: none;
    color: #2D4B73;
    border-color: #2D4B73;
    border-width: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0px;
}
#button--card:hover {
    background-color: darkslateblue;
    color: coral;
    transition: 0.5s;
    border: solid 1px coral;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}

.main input{
    height: 25px;
    padding: 5px;
}

.formulario--publicacion{
    background-color: #2D4B73;
    border-radius: 5px;
    border: solid 1px #D9B70D;
    display: flex;    
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 550px;
    margin: 20px 10px;
}

.post h1 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: bold;
    text-align: center;
    padding: 8px 0;
    border-bottom: 1px solid #D9B70D;
}

.btn {
    background-color: #D9B70D;
    border: none;
    color: #2D4B73;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    width: 50 px;
}


/* otra parte del la card  */

.card--formulario {
    background-color: red;
    display: flex;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 550px;
    margin: 20px 10px;
}

.estructura {
    background-color: blue;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    width: 550px;
    margin: auto;
}

.foto--perfil {
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
    background-color: #2D4B73;
    width: auto;
    
}

.foto {
    width: 90px;
}

.titulo h1{
    text-align: center;
    width: 100%;
    
}

.datos {
    display: flex;
    flex-direction: row ;/*cambiando esta parte de la posicion */
    width: 100%;
    padding:10px;
    justify-content: space-between;
    
}

.parte1{
    display: flex;
    flex-direction: row;
    background-color: #D9B70D;
    width: 100%;
}

.parte1-row {
    display: flex;
    flex-direction: row;
    
    background-color: yellow; 
}

.parte2{
    display: flex;
    flex-direction: column;
}
.zona--texto {
    height: 40px;
}

.boton--publicar {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    border: 2px;
    color: #253C59;
    background-color: #D9B70D;
    cursor: pointer;
}

.boton--publicar:hover{
    border:2px solid #D9B70D;
    color: #D9B70D;
    background-color: #253C59;
    transition: 0.5s;
}
/* cargar imagenes*/
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15px;
    margin: 0;
}
.seleccionarImagenes {
    text-align: center;
}
.vistaPrevia {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-top: 20px;
}
.vistaPrevia img {
    max-width: 100px;
    max-height: 100px;
    display: none;
}
.botonDeCarga {
    padding: 10px 20px;
    background-color:#253C59;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.botonDeCarga:hover {
    background-color: #D9B70D;
}


/* Descripción---Textarea */
.texto{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #99B4BF;
    
}
#input-text {
    background-color: #99B4BF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    resize: none; /* Para que el textarea no pueda ser redimensionado por el usuario */
    border: none;
    outline: none; /* Elimina contorno del textarea */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%; 
    /* height: 100px; */
    overflow:scroll; /* Modificar la barrascroll */
    scrollbar-width: 0;
}
#input-text::-webkit-scrollbar{ /* Ocultar barra de scroll */
    width: 0;
}

 