/*Colores a usar 
background: #EFF0F5
azul fuerte: #2D4B73
azul claro: #99B4BF
oro: #D9B70D
blanco: #FFFFFF 

fuente - "DM Sans", sans-serif;
fuente - 
*/

.chat-container{
    display: flex;
    width: 100%;
    height: 100%;
}
 
.chat-content{
    padding-left: 20px;
    padding: 20px;
    width: 420px;
    height: 100%;
    flex: 0 0 420px;
}

.chat-sidebar-search-block {
    background-color: #EFF0F5;
    border-radius: 20px;
    padding: 8px 10px;
    align-items: center;
    justify-items: center;

}

.content-sidebar-form {
    position: flex;
}

.content-sidebar-submit {
    position: absolute;
    outline: transparent;
    border: transparent;
    left: 23px;
    width: 100%;
    background-color: transparent;
    transform: translate(-50%);
    cursor: pointer;
    color: #2D4B73;
    font-size: 1.2rem;
}

.content-sidebar-input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 30px;
}
.content-sidebar-input::placeholder {
    padding-left: 7px;
}



.chat-sidebar-container {
    position: sticky;
    height: 100%;
    color: yellow;
}
/* Start: Content */
.content-messages{
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content-messages-list{
    list-style-type: none;
    height: 100%;
    padding: 10px;
}

/*.content-messages-list:hover{
    list-style-type: none;
    border-style: solid;
    border-color: #99B4BF;
}*/


.content-messages-list > * > a {
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 100%;
    color: #2D4B73;
    width: 100%;
    padding-left: 20px;
    padding: 10px;
}
.content-messages-list > * > a:hover {
    display: flex;
    align-items: center;
    text-decoration: none;
    border-style: solid;
    border-color: #99B4BF;
    color: #2D4B73;
    width: 100%;
}


.content-message-image {
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-right: 12px;
}

.content-message-info {
    display: grid;
    margin-right: 12px;
}

.content-message-unread {
    font-size: 10px;
    font-weight: 200;
    color: #EFF0F5;
    background-color: #2D4B73 ;
    padding: 2px 4px;
    border-radius: 20px;
    position: absolute;
    align-items: center;
    left: 27px
}
.content-message-name{
    display: block;
    font-size: 20px;
    font-weight: 600;
}

.content-message-text {
    font-size: 15px;
    font-weight: 300;
    text-overflow: ellipsis; /**/
    overflow: hidden;
    white-space: nowrap;
}



.content-message-service {
    display: flex;
    position: absolute;
    top: 79px;
    transform: translate(-50%);
}

.content-message-time {
    font-size: 12px;
    font-weight: 300;
    position: relative;
    top: 15px;
}
/* End: Content */
/* Start: Conversations */
.conversation {
    height: 100%;
    display: inline-block;
    flex: 1;
}

.conversation-top {
    padding: 16px;
    background-color: #2D4B73; 
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.conversation-user {
    display: flex;
    color 90
}

.conversation-back{
    outline: transparent;
    border: transparent;
    background-color: transparent;
    transform: translate(-50%);
    cursor: pointer;
    color: #EFF0F5;
    margin-left: 12px;
}

.conversation-user-image{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.conversation-user-status-container{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.conversation-user-name{
    display: flex;
    font-size: 25px;
    font-weight: 600;
    color: #EFF0F5;
    flex-direction: column;
}

.converstion-user-status-online{
    display: flex;
    font-size: 13px;
    flex-direction: column;
    color: #EFF0F5;
}

.conversations-buttons-left{
    width: 100px;
    display: flex;

    align-items: center;

}

.conversation-hourglass {
    outline: transparent;
    border: transparent;
    background-color: transparent;
    transform: translate(-50%);
    cursor: pointer;
    color: #EFF0F5;
    align-items: right;

}

.cornversation-info {
    outline: transparent;
    border: transparent;
    background-color: transparent;
    transform: translate(-50%);
    cursor: pointer;
    color: #EFF0F5;
}

.conversation-dots {
    outline: transparent;
    border: transparent;
    background-color: transparent;
    transform: translate(-50%);
    cursor: pointer;
    color: #EFF0F5;
}

/*End: Conversations*/


/*

Problemas
    1. Ubicar el numero de mensajes no leidos dentro del box
    2. hacer que se puedaver el apartado de Servicio en cada chat 
    3. Cuando se intenta buscar algo se empalma todo con el icono de busqueda
    4. Hacer que la barra de busqueda se quede fija y lo unico que haga scroll sean los chats
    5. Color de la lupa

*/