/* styles.css */

body {
    margin: 0;
    padding: 0;
   
}

/* Barra de navegacion contenido general */
.navbar {
    background-color: #FFFFFF;
    color: white;
    padding: 10px 20px;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    border-bottom-color: #D9B70D ;
    border-width: 5px;
    border-style: solid;
    min-height:100px;
}

/* Barra de navegacion segundo div creado para contener todos los elementos */
.navbar--container {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-between;  
    align-items: stretch;
    min-height: 100px;
    width: 100%;
   
}

.responsive--container{
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-around;
    width:70% ;
    min-width:400px; 
}

/* Contenedor del logo */
.subcontainer1--navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    align-items: center;
    width: 300px; 
}

.navbar--logo{
    width: 200px;
    margin: 0px;

}

/* Contenedor del menu de hamburguesa */
.menuHamburgesa{
    width:40px;
}

/* Contenedor icono de lupa */
.subcontainer2--navbar{
    display:flex;
    justify-content: center; 
    align-items:center;
    width:60%;
    min-width:500px ;
}

.navbar--search-cuadroAzul{
    display: flex;
    width: 100%; 
    height: 40px;
    justify-content:left;
    padding: 0;
    flex-direction: row;
    align-items: center;
    gap: 0;
    border-top: 5px solid #2D4B73;
    border-right: 5px solid #2D4B73;
    border-bottom: 5px solid #2D4B73;
    border-left: 5px solid #2D4B73;
    border-radius: 20px;
}

.logo--busqueda{
    width: 30px;
    margin: 20px;
}

/* Contenedor input para la busqueda por texto */
.cuadro--busqueda{
    width: 100%;
    height: 30px;
    margin: 0px;
    border: none;
    border-radius: 0;
}

.cuadro--busqueda input{
    width: 100%;
    height: 30px;
    margin: 0px;
    font-size: 16px;
    border: none;
    border-radius: 0;
}

/* Contenedor general de los 4 botones */
.navbar-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px,700px,0px,0px;
    gap:10px;
   
}

/* Contenedor de los botones "donativos y "ayuda" acomodados en columna */
.navbar--buttons--type12{
    display: flex;
    flex-direction: column;
    justify-content: space-around ;

}

/* Especificaciones del boton "donativos"*/

.botonDonativos button {
    border: 3px solid #D9B70D !important;
    border-radius: 20px;
    margin: 2px;
    color: #FFFFFF ;
    background-color: #D9B70D;
    padding: 4px 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    width: 100%;
}

.botonDonativos:hover button {

    border: 3px solid #D9B70D !important;
    color: #FFFFFF;
    background-color: #253C59;
    transition: 0.5s;
}

/* Especificaciones del boton "ayuda" */

.botonAyuda button {
    border: 3px solid #253C59 !important;
    border-radius: 20px;
    margin: 2px;
    color: #FFFFFF ;
    background-color: #253C59;
    padding: 4px 10px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    width: 100%;
}

.botonAyuda:hover button {
    border: 3px solid  #253C59 !important;
    color: #FFFFFF;
    background-color: #D9B70D;
    transition: 0.5s;

}

/* Contenedor de los botones "mensajes y "cerrar sesion" acomodados en fila */
.navbar--buttons--type34{
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap:wrap-reverse;
    align-content:center;
    justify-content: end;
    
}

/* Especificaciones del boton "mensajes" */
.botonMensajes{
    display: flex;
    align-items: center;
    gap:0px;
}

.botonMensajes button{
    border: 3px solid #253C59 !important;
    border-radius: 10px;
    margin: 2px;
    color: #FFFFFF ;
    background-color: #253C59;
    padding: 7px 8px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    
}

.botonMensajes:hover button{
    border: 3px solid  #253C59 !important;
    color: #253C59;
    background-color: #FFFFFF;
    transition: 0.5s;
}

/* Especificaciones del boton "cerrar sesion" */
.botonCerrar{
    display: flex;
    align-items: center;

}

.botonCerrar button{
    border: 3px solid #253C59 !important;
    border-radius: 10px;
    margin: 2px;
    color: #253C59 !important;
    background-color: #FFFFFF;
    padding: 7px 2px;
    cursor: pointer;
    font-family: "Poppins", sans-serif !important;
    font-style: normal;
    width:120px;
}

.botonCerrar:hover button{
    border: 3px solid  #253C59 !important;
    color: #FFFFFF !important;
    background-color: #253C59;
    transition: 0.5s;
}

/* Body contenido general */
main {
    padding: 20px;
    text-align: center;
}



/* Footer contenido general */
#footer {
    border-width: 5px;
    border-style: solid;
    border-color: #D9B70D;
    background-color: #2D4B73;
    text-align: center;
    padding: 10px 20px;
    width: 100%;
    min-height: 200px;  
}

footer {
    position: fixed;
    bottom: -800px; /* Oculto inicialmente */
    width: 100%;
    transition: bottom 0.8s ease; /* Transición suave */
}

footer.visible {
    bottom: 0; /* Muestra el footer */
}




.footer--container{
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
}

.footer--container--2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:#FFFFFF !important;
}

.social-link{
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 20px;
}


/* Especificaciones para los subtitulos del footer */
.subtitulo--footer{
    color: #D9B70D;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align:left;
    
}

/* Especificaciones para los textos anchor del footer */
a, .anchor--footer{
    color:#FFFFFF !important;
    list-style:none;
    cursor: pointer ;
    font-family: "DM Sans", sans-serif !important;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    text-align:left;
    margin-left: -20px ;
}

a{
    color:#FFFFFF !important;
    text-decoration: none !important;

}

a:hover, .anchor--footer:hover{
    color: #D9B70D !important;
    
}


@media (max-width: 500px) {

    .navbar{
        width: 100%;
    }

    .navbar--container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-width: 400px;
        
    }
    .responsive--container{
        display: flex;
        flex-direction:column;
        align-items: center;
        width:100% ;
        
    }
    .subcontainer1--navbar{
        display: flex;
        flex-direction: row;
        justify-content:space-between ;
        align-items: center;
        width: 100%; 
        
    }
    .navbar--logo{
        margin-left: 20%;
    }

    .subcontainer2--navbar{
        min-width:400px;
        width: 100%;
    }

    .navbar-buttons {
        
        display: flex;
        flex-direction:row;
        justify-content:center;
        gap:0px;
        width:100%;
    }
       


    .navbar--buttons--type12{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }


    .navbar--buttons--type34{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content:center;
        gap: 0;
    }

    .footer--container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .footer--container--2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
       
    }
  
}
