/*Colores a usar 
background: #EFF0F5
azul fuerte: #2D4B73
azul claro: #99B4BF
oro: #D9B70D
blanco: #FFFFFF */


body {
    color: #EFF0F5;
}

.container-formulario{
background-color:#99B4BF ;
}

.container--head {
    display: flex; 
    align-items: center;
    color: #D9B70D;
}

.foto--perfil {
    width: 100px;
    border-radius: 50%;
    border-color: #D9B70D;
    margin: 5px;
}

.container--foto--perfil {
    background-color: #D9B70D;
    width: 110px;
    margin-left: 10px;
    align-items: center;
    border-radius: 50%;
}

.container--head--Cliente-Provedor {
    text-align: center;
}

#container--head--Cliente-Provedor--Select {
    border: none;
    color: #2D4B73;
    background-color: transparent;
}

/* Estilo para la fecha */
.container--time {
    background-color: #99B4BF;
    color: #2D4B73;
    width: 100px;
    padding: 1px;
    font-family: 'DM-Sans', sans-serif;
    font-size: medium ;
    font-weight: 300;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    
}

.container--descripcion input {
    width: 39%;
    margin-bottom: 20px;
}

.container--imagen{
    border-color: #D9B70D;
    border-radius: 20px;
}


/* Descripción---Textarea */
.texto{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    background-color: #99B4BF;
    
}
.input-text {
    background-color: #99B4BF;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    line-height: 16px;
    resize: none; /* Para que el textarea no pueda ser redimensionado por el usuario */
    border: none;
    outline: none; /* Elimina contorno del textarea */
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    /* height: 100px; */
    overflow:scroll; /* Modificar la barrascroll */
    scrollbar-width: 0;
}
.input-text::-webkit-scrollbar{ /* Ocultar barra de scroll */
    width: 0;
}

.texto label{
    font-family: "Poppins", sans-serif;
}

/*Estilo del Div de botones y botones */

.container--botones {
    display: flex;
    justify-content: right;
    

}
/*
.container-bonotones--boton--formulario {
    background-color: #D9B70D;
    border: none;
    color: #2D4B73;
    font-weight:bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
     display: flex; 
    font-size: 12px;
     margin: 4px 2px; 
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
    
}

.container-bonotones--boton--formulario :hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border-color: #D9B70D;
    cursor: pointer;
    transition: 0.5s;
}

.container-bonotones--boton--formulario1 {
    background-color: #D9B70D;
    border: none;
    color: #2D4B73;
    font-weight:bold;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 12px;
     margin: 4px 2px; 
    font-family: "Poppins", sans-serif;
    border-radius: 20px;
}
.container-bonotones--boton--formulario1 :hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border-color: #D9B70D;
    cursor: pointer;
    transition: 0.5s;
}
*/
/* Boton de  ikonik*/
.container-botones--ikonik {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #D9B70D;
    color: #253C59;
    background-color: #D9B70D;
    cursor: pointer;
}
.container-botones--ikonik :hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border-color: #D9B70D;
    border: 2px solid;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}


/* Boton de comentar */
.container-botones--Comentar {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #D9B70D;
    color: #253C59;
    background-color: #D9B70D;
    cursor: pointer;
}
.container-botones--Comentar :hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border-color: #D9B70D;
    border: 2px solid;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
}

/* Fin boton comentar*/

/* Boton de compartir */
.container--botones--compartir{
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #D9B70D;
    color: #253C59;
    background-color: #D9B70D;
    cursor: pointer;
    
}
.container--botones--compartir:hover{
    background-color: #2D4B73;
    color: #D9B70D;
    border-color: #D9B70D;
    border: 2px solid;
    cursor: pointer;
    transition: 0.5s;
    border-radius: 20px;
    font-family: "Poppins", sans-serif;
    
}


/*Fin boton compartir*/

/****************************Fin botones *********************/

/* estilos de cargar imagenes */

.contenedor--cargarImg{
    font-size: medium;
}

#img--vistaprevia{
    display: none;
    margin: 20px;
    max-width:100%;
}
.label--seleccionArchivo{
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}