/*Creacion de pagina styles Acerca de nosotros.*/
/*Colores a usar 
background: #EFF0F5
azul fuerte: #2D4B73
azul claro: #99B4BF
oro: #D9B70D
blanco: #FFFFFF
Documentacion: https://www.w3schools.com

Breakpoint debajo de los 500px
Usar porcentajes 
*/


body {
    background-color: #EFF0F5;
}


/*SECCION 1: Acerca de nosotros*/
.container {
    background-color: #2D4B73;
    border-radius: 20px;
    max-width: 1140px;
    height: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin: 20px;
    /* margin: auto;
    padding-top: 50px; */
    justify-items: auto;
}

@media screen and (max-width: 500px) {
    .container {
        min-height: 300px;
    }
}

.container-h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
}

.container-p {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'DM-Sans', sans-serif;
    font-weight: 300;
}

.empezar--boton {
    background-color: #D9B70D;
    color: #2D4B73;
    cursor: pointer;
    width: 300px;
    padding: 7px;
    border: solid 2px #2D4B73;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    transition-duration: 0.5s;
}

.empezar--boton:hover {
    background-color: #2D4B73;
    color: #D9B70D;
    border: solid 2px #D9B70D;
}

.like {
    width: 100%;
    height: auto;
}

.img--container {
    width: 30%;
    max-width: 350px;
    position: absolute;
    top: 1px;
    left: 0px;
    z-index: 2;
    padding: 0;
}

@media screen and (max-width: 1350px) {
    .img--container {
        visibility: hidden;
    }
}




/*SECCION 2: Por que usas Konikapp*/
.container--2 {
    background-color: #99B4BF;
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    max-width: 1336px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap; /* Cambio: permitir el ajuste de línea */
    justify-content: space-between; /* Cambio: distribuir espacio entre elementos */
}


.container--h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-align: center;
    color: #253c59;
    text-align: center;
    align-items: center;
}

.contenido {
    display: flex;
    align-items: center;
    
}

.contenido p {
    font-family: 'DM-Sans', sans-serif;
    text-align: center;
    color: #253c59;
    margin-right: 20px;
    
}
 .image{
     flex-wrap: wrap;
}

@media screen and (max-width:800px) {
    .contenido{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
}



/*Sección 3: Mision, Vision y Valores */
.container--3 {
    display: flex;
    justify-content: space-around;
    margin:20px;
    
    
}

.card-k {
    background-color: #99B4BF;
    color: #2D4B73;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 20px;
    flex-wrap: wrap;
    width: 90%;

}

@media screen and (max-width:900px){
    .container--3 {
      display: block;
      width: 100%;
      margin-left: 0;
    }
  }

    @media screen and (max-width:500px) {
        .img--container {
            visibility: hidden;
            flex-wrap: wrap;
        }
}
/* SECCION 4: CARRUSEL ESTILOS */
@media screen and (min-width:700px) {
    .card-fondo {
        display: flex;
        background-color: #2D4B73;
        margin: 70px;
        padding: 15px;
        justify-content: space-around;
        border-radius: 20px;


    }

    .cards {
        display: flex;
        margin-left: 5px;
        width: 260px;
        height: 345px;

    }

    .imagen-carrusel {
        height: 200px;
        margin: 0 auto;
        background-color: #99B4BF;
    }
}

.card-body {
    display: flex;
    flex-direction: column;
    /* Botones */
    background-color: #99B4BF;
}

.card-body H5 {
    color: #253c59;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;

}

.imagen-carrusel img {
    max-width: 100%;
    max-height: 100%;

}

.card-title {
    font-family: sans-serif;
    text-align: center;
}

.card-text {
    color: #253c59;
    font-family: "DM Sans", sans-serif;
    text-align: center;


}

.button {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    background-color: #D9B70D;
    border: #253c59 solid 2px;
    color: #253c59;
    padding: 8px;
    border-radius: 20px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    border: #D9B70D solid 2px;
    background-color: #2D4B73;
    color: #D9B70D;
    padding: 7px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.imagen-fondo {
    background-color: #253c59;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #D9B70D;

}